@model Demo.Models.DiscountModel;
@{
    ViewData["Title"] = "View2";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var result = (Demo.Models.DiscountModel)ViewData["result"];
}

<form asp-action="View2" method="post">
    <div asp-validation-summary="All"></div>
    <div class="container">
        <h1>Discount Calculator</h1>
        <div class="row">
            <div class="col-4"><strong>Inputs</strong></div>
        </div>
        <br />
        <div class="row">
            <div class="col-2">
                <label asp-for="ListPrice">List Price:</label>
            </div>
            <div class="input-group col-3">
                <span class="input-group-text">$</span>
                <input type="text" class="form-control" asp-for="ListPrice" />
            </div>
        </div>

        <div class="row">
            <div class="col-2">
                <label asp-for="Discount">Discount:</label>
            </div>
            <div class="input-group col-3">
                <input type="text" class="form-control" asp-for="Discount" />
                <span class="input-group-text">%</span>
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <label asp-for="WeightId">Weight:</label>
            </div>
            <div class="input-group col-3">



                <select asp-for="WeightId"
                        class="form-control"
                        asp-items="@(new SelectList(Model.WeightRanges,"Value", "Text"))">
                </select>


            </div>
        </div>

        <br />

        <div class="row">
            <div class="col-4"><strong>Output</strong></div>
        </div>

        <div class="row">
            <div class="col-2">
                <label asp-for="ListPrice">List Price</label>
            </div>
            <div class="input-group col-3">
                <input id="txtPrice" type="text" class="form-control" asp-for="ListPrice" />
                <span class="input-group-text">$</span>
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <label asp-for="LessDiscount">Less Discount</label>
            </div>
            <div class="input-group col-3">
                <input type="text" class="form-control" asp-for=@result.LessDiscount />
                <span class="input-group-text">$</span>
            </div>
        </div>



        <div class="row">
            <div class="col-2">
                <label asp-for="AfterDiscount">After Discount</label>
            </div>
            <div class="input-group col-3">
                <input type="text" class="form-control" asp-for=@result.AfterDiscount />
                <span class="input-group-text">$</span>
            </div>
        </div>

        <div class="row">
            <div class="col-2">
                <label asp-for="PlusFreight">Plus Freight</label>
            </div>
            <div class="input-group col-3">
                <input type="text" class="form-control" asp-for=@result.PlusFreight />
                <span class="input-group-text">$</span>
            </div>
        </div>


        <div class="row">
            <div class="col-2">
                <label asp-for="Net">Net</label>
            </div>
            <div class="input-group col-3">
                <input type="text" class="form-control" asp-for=@result.Net />

                <span class="input-group-text">$</span>
            </div>
        </div>

        <br />

        <div class="row d-flex justify-content-center">
            <div class="col-3">
                <button type="reset" class="btn btn-outline-primary mr-1">Reset</button>
            </div>
            <div class="col-3">
                <button id="submitButton" type="submit" class="btn btn-outline-danger">Submit</button>
            </div>

           

        </div>

    </div>
</form>

<script type="text/javascript">

    $(document).ready(function () {
        $("#submitButton").click(function () {

          $.ajax({
                type: "POST",
                url: "/Demo/View2",
                dataType: 'json',
                contentType: "application/json",
                data: JSON.stringify({ listprice: ListPrice, discount: Discount, weightId: WeightId}),
                success: function (data) {
                    if (data.Success) {
                        alert(data);
                    }
                    else {
                        window.location.href = '@Url.Action("Demo","Index")';
                    }
                },
                error: function (data) {
                    alert("Something went wrong")
                }
            });

         );




    });


</script>